src/main/java/org/jboss/resteasy/wadl/testing/martian-inprogress.xml

<application xmlns="http://wadl.dev.java.net/2009/02">
    <resources base="http://127.0.0.1:8080/resteasy-wadl/resteasy">
        <resource path="/martian">
            <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="name" style="template" type="xs:class java.lang.String"/>
            <method id="hello" name="GET">
                <response>
                    <representation mediaType="*/*"/>
                </response>
            </method>
            <method id="input" name="POST">
                <response>
                    <representation mediaType="*/*"/>
                </response>
            </method>
            <resource path="intr/{foo}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="foo" style="template" type="xs:int"/>
                <method id="integerReturn" name="GET">
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
            <resource path="ab/{a}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="a" style="template" type="xs:class java.lang.String"/>
                <method id="abc" name="GET">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Cookie" style="header" type="xs:int" path="b"/>
                    </request>
                    <response>
                        <representation mediaType="text/plain"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>